{% if is_valid %}
    <h1>User Password Successfully Updated!</h1>
    <p>The password has been successfully updated</p>
{% else %}
    <h1>Invalid User Credentials!</h1>
    <p>Check if username and password is correct</p>
{% endif %}