{% if is_active %}
    <h1>Welcome {{username}}</h1>
    
    <ul>
        <li><a href="./logout">logout</a></li>
    </ul>
{% else %}
    <h1>You are not authorized to access this page.</h1>
    <p>Kindly login <a href="./login">here</a></p>
{% endif %}