{% if is_duplicate == False %}
    <h1>User Successfully Created!</h1>

    <p>The account for {{username}} has been successfully created</p>
{% else %}
    <h1>Duplicate User Found!</h1>

    <p>A duplicate user has been found, user creation unsuccessful</p>
{% endif %}